*{
    margin: 0px;
	padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height:100vh;
    width:100%;
    background-image:url(images/backgrou.jpg);
    background-position:center;
    background-size:cover;
    position:relative;
}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 4px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
    
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: red;;
    display: block;
    margin: auto;
    transition:0.5s
        
}
.nav-links ul li:hover::after{
    width: 100%;
    
}

.text-box {
    width: 70%;
    height: 50%;
    margin-top: 25px;
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.text-box h5{
    font-size:62;
}
.text-box p{
    font-size: 14px;
    color:rgb(242, 250, 248);
    padding: 10px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 30px;
}
.hero-btn{
    text-decoration: none;
    color: red;
    font-size: 14px;
    background: rgb(42, 188, 140);
    width: 30%;
    border-radius: 5px;
    border: none;
    height: 35px;
    cursor: pointer;
    margin: auto;
    text-align: center;
    display: flex; /* Center horizontally */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.hero-btn:hover{
    background: rgb(229, 154, 169);
    transform: scale(1.1);
    transition: 1s;
}

.hero-btn:active {
    transform: scale(0.95);
  } 
nav .fa{
    display: none; /*-----hidden for big screen----*/
}
/*to make adjustments for use on screens smaller than 700px e.g. phones*/
@media (max-width: 700px){
    .text.box h1{
        font-size: 20px; /*makes the font smaller on screen*/
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{     /* makes an opaque drop-down menu but only on phones using the nav-links which was already set up for the menu previously*/
        position:absolute;
        background: rgb(97, 245, 166);;
        height: 100%;
        width: 150px;
        top:0;
        right: 0px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        display: none;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*--------cakes new section------------*/
.CAKE{
    background-image: url('images/unsplash.jpg');
    background-size: cover;
}
.cakes{
    width: 80%;
    margin: auto; /*---so it's centre----*/
    text-align: center;
    padding-top: 100px;
    color:#18ae63
}

h1{
    font-size:36px;
    font-weight: 600;
    text-align: center;
    color:#087a65
}
h5{
    font-size:36px;
    font-weight: 600;
    text-align: center;
    color:rgb(243, 239, 240)
}
h2{
    font-size:36px;
    font-weight: 600;
    text-align: center;
    color:#18ae63
}
p{
    color:rgb(245, 116, 142);
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
p6{
    color:rgb(246, 243, 244);
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

p3{
    color:rgb(245, 116, 142);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
h4{ 
    font-size:36px;
    font-weight: 600;
    text-align: center;
    color:rgb(255, 255, 255)}
p1{
        color:rgb(35, 205, 239);
        font-size: 24px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
 }

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.cake-col{
    flex-basis: 31%;
    background:#CDF0EA;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.cake-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.row2{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.cake-col2{
    flex-basis: 31%;
    background:#CDF0EA;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.cake-col2:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.row3{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.cake-col3{
    flex-basis: 31%;
    background:#CDF0EA;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.cake-col3:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/*-------can write all media (phone adaption) in one place but am writing in this order of us writing the code after writing the corresponding computer part. ------*/
@media(max-width:700px){
    .row{
        flex-direction: column
    }
    .row2{
        flex-direction: column
    }
    .row3{
        flex-direction: column
    }
}
/*-----testimnoials------*/
.Trees {
    width: 100%;
    background-image: url('images/trees.jpg');
    background-size: cover;
    margin: none;
}
.testimonials{
    width: 80%;
    margin: auto;
    padding-top:40px;
    text-align: center;

    
}
.testimonials-col{
    flex-basis:44%;
    border-radius:10px;
    margin-bottom:5%;
    text-align:left;
    background:#fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 90px;
    margin-left:5px;
    margin-right:3px;
    margin-top:5px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonials-col .fa{
    color: #f44336
}
@media(max-width: 700px){
    .testimonials-col img{
    margin-left:0px;
    margin-right:15px;
}}
    /*------call to action---*/
    .contact {
        text-align: center;
        align-items: center;
        background-image: url('images/contact.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      .get-in-touch {
        display: inline-block;
        padding: 20px;
      }
      
      .get-in-touch h1 {
        margin: 0;
      }
      
      .form {
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        border-radius: 10px;
        margin-left:25%;
        margin-right: 25%;
        padding-bottom:10px;
      }
      
      form label {
        display: block;
        margin-bottom: 10px;
      }
      
      form input[type="text"],
      form input[type="email"],
      form textarea {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #c7e1ed;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
      }
      
      form input[type="text"]:focus,
      form input[type="email"]:focus,
      form textarea:focus {
        outline: none;
        box-shadow: 0 0 3px #87fa98;
      }
      
      form textarea {
        height: 150px;
      }
      
      form button[type="submit"] {
        background: #4CAF50;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        width: 100%;
        max-width: 400px;
        height: 50px;
        margin-top: 20px;
      }
      
      form button[type="submit"]:hover {
        background-color: #387e3a;
        transform: scale(1.1);
    transition: 3s;
      }
      
/*to make adjustments for use on screens smaller than 700px e.g. phones*/
@media (max-width: 700px){

    .form {
        flex-direction: column;
        width: 60%;
        margin-left:15%;
        margin-right: 15%;
}}
/*-----------------footer--------------------------------------------*/
.footer {
    background-color: rgb(105, 225, 81);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
  }
  
  .footer-text {
    color: rgb(255, 255, 255);
    font-size: 14px;
  }
  
  .footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .footer-links a {
    color: rgb(253, 255, 253);
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
  }

  .footer-links a:hover {
    color: rgb(247, 72, 72); /* change color on hover */
  }
  
  
  .p4 {
    margin: 0;
    padding: 0;
    color: white;
  }
  /*to make adjustments for use on screens smaller than 700px e.g. phones*/
@media (max-width: 700px){
    .footer-text {
        color: rgb(255, 255, 255);
        font-size: 10px;}

        .footer-links a {
            color: rgb(253, 255, 253);
            font-size: 10px;
}}
